USE [master]
GO
/****** Object:  Database [Test3]    Script Date: 31.10.2019 19:31:15 ******/
CREATE DATABASE [Test3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test3', FILENAME = N'D:\Program Files\Microsoft SQL Server2\MSSQL14.SQLEXPRESS2\MSSQL\DATA\Test3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test3_log', FILENAME = N'D:\Program Files\Microsoft SQL Server2\MSSQL14.SQLEXPRESS2\MSSQL\DATA\Test3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test3]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 31.10.2019 19:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RowNo] [int] NOT NULL,
	[ColNo] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
